.promo {
    min-height: 100vh;
    background-color: $BackgroundGreen;
    overflow: hidden;

    &__container {
        display: flex;
        align-items: center;
        padding-top: 150px;
        @media (max-width: $mobile) {
            flex-direction: column;
            padding-top: 120px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 0 0 419px;
        @media (max-width: $mobile) {
            flex: 1 1 auto;
            margin-bottom: 40px;
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: 117px;
        }
        @media (max-width: $mobile) {
            font-size: 40px;
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
        @media (max-width: $mobileSmall) {
            font-size: 28px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__buttons {
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
        }
        > :last-child {
            color: $colorWhite;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__link {
        text-align: center;
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        &:not(:last-child) {
            margin-right: 14px;
        }
    }

    &__image {
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
        background: url("assets/img/prom/dec1.png") 100% 0% no-repeat;
        @media (max-width: $mobile) {
            background: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

/*===============================================================================================*/

.crafted {
    background-color: $BackgroundDarkest;

    &__container {
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        align-items: center;
        @media (max-width: $tablet) {
            padding-top: 70px;
            padding-bottom: 70px;
            flex-direction: column;
        }
        @media (max-width: $mobile) {
            padding-top: 70px;
            padding-bottom: 30px;
        }
        @media (max-width: $mobileSmall) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &__content {
        flex: 0 1 228px;
        @media (max-width: $tablet) {
            flex: 1 1 auto;
            margin-bottom: 30px;
        }
        > p {
            margin-bottom: 33px;
            @media (max-width: $mobileSmall) {
                margin-bottom: 15px;
            }
        }
    }

    &__title {
        margin-bottom: 27px;
        @media (max-width: $mobileSmall) {
            margin-bottom: 17px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
    }

    &__chairs {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-evenly;
        @media (max-width: $tablet) {
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__chair {
        text-align: center;
        display: flex;
        flex-direction: column;
        line-height: 150%;
        overflow: hidden;
        transition: all 0.3s ease 0s;
        &:hover {
            transform: scale(1.08);
            transition: all 0.3s ease 0s;
        }
        @media (max-width: $mobile) {
            img {
                object-fit: contain;
                max-height: 237px;
            }
        }
        img {
            min-height: 261px;
            margin-bottom: 46px;
            min-width: 100%;
        }
        p:first-of-type {
            @include titleAndLogo($fz16, $fw600, $colorDark);
        }
        p:last-of-type {
            margin-bottom: 20px;
            @include titleAndLogo($fz18, $fw700, $colorDark);
        }
    }
    &__footer {
        flex: 1 1 49px;
    }
}

/*=====================================================Choose*/

.choose {
    background-color: $BackgroundDarkest;

    &__container {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: flex-start;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__content {
        position: relative;
        flex: 0 1 55%;
        @media (max-width: $tablet) {
            margin-bottom: 20px;
            flex: 1 1 100%;
            &::before {
                display: none;
            }
        }
        &::before {
            content: "";
            position: absolute;
            border-radius: 20px;
            top: 90px;
            right: 11px;
            width: 296px;
            height: 307px;
            background: rgba(53, 115, 110, 0.1);
        }
        > p {
            max-width: 444px;
            margin-bottom: 88px;
            @media (max-width: $mobileSmall) {
                margin-bottom: 40px;
            }
        }
    }

    &__title {
        margin-bottom: 27px;
    }

    &__items {
        display: flex;
        flex: 1 1 53%;
        flex-wrap: wrap;
        margin: 0 - 22px;
        padding-right: 124px;
        @media (max-width: $tablet) {
            padding-right: 0px;
        }
    }

    &__item {
        align-items: start;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        display: flex;
        flex: 0 1 50%;
        margin-bottom: 24px;
        padding: 0 22px;
        height: 100%;
        @media (max-width: $mobileSmall) {
            flex: 1 1 auto;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 88px;
            @media (max-width: $mobileSmall) {
                margin-bottom: 20px;
            }
        }
        position: relative;
        &::after {
            content: "";
            z-index: 10;
            position: absolute;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background-color: rgba(53, 115, 110, 0.2);
            // background: red;
            top: 5px;
            left: 30px;
        }

        &__img {
            position: relative;
        }
        h3 {
            margin-bottom: 9px;
            @include titleAndLogo($fw600);
            order: 2;
        }
        p {
            order: 3;
        }

        img {
            position: relative;
            order: 1;
            height: 28px;
            display: flex;
            align-items: flex-end;
            margin-bottom: 12px;
            z-index: 20;
        }
    }
    &__image {
        flex: 0 0 45%;
        text-align: right;
        height: 630px;
        position: relative;
        width: 100%;
    }
    &__img {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.decor {
    position: absolute;
    top: -80px;
    left: -85px;
    width: 262px;
    height: 176px;
    @media (max-width: $tablet) {
        display: none;
    }
}

/* ==============================================================HELP*/

.help {
    background: $BackgroundDarkest;
    &__container {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 60px;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
        @media (max-width: $mobileSmall) {
            padding-top: 10px;
        }
    }

    &__content {
        order: 1;
        flex: 0 0 40%;
        > p {
            margin-bottom: 31px;
            line-height: 24px;
            @media (max-width: $mobileSmall) {
                line-height: 14px;
                margin-bottom: 11px;
            }
        }
        @media (max-width: $mobile) {
            margin-bottom: 35px;
        }
    }

    &__title {
        margin-bottom: 28px;
        line-height: 41px;
        @media (max-width: $mobile) {
            margin-bottom: 18px;
        }
        @media (max-width: $mobileSmall) {
            line-height: 18px;
            margin-bottom: 8px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -21px;
        margin-bottom: 41px;
        @media (max-width: $mobile) {
            margin-bottom: 20px;
        }
    }

    &__item {
        flex: 0 1 50%;
        padding: 0 30px;
        margin-bottom: 24px;
        line-height: 19px;
        background: url("assets/img/help/ellips.svg") 18px 5px no-repeat;
        @media (max-width: $mobile) {
            margin-bottom: 14px;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 auto;
            margin-bottom: 5px;
        }
    }

    &__link {
        @media (max-width: $mobile) {
            display: flex;
            justify-content: center;
        }
    }

    &__image {
        flex: 0 1 60%;
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            width: 100%;
            order: 2;
        }
    }
    &__left-row {
        flex: 0 0 61%;
        position: relative;
        padding: 0px 0px 70% 0px;
        margin-bottom: 22px;
    }

    &__right-row {
        flex: 0 0 39%;
        position: relative;
    }

    &__decor {
        position: absolute;
        top: -55px;
        left: -120px;
        z-index: 3;
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__img-big {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        object-fit: cover;
    }

    &__img-middle {
        position: absolute;
        top: 33px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        border-radius: 13px;
        object-fit: cover;
        margin-left: -60px;
        @media (max-width: $mobileSmall) {
            margin-left: 0px;
        }
    }

    &__img-small {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 4;
        border-radius: 13px;
        object-fit: cover;
    }
    &__right-row-top {
        position: relative;
        padding: 0px 0px 70% 0px;
        margin-right: 40px;
        @media (max-width: $mobileSmall) {
            margin-right: 0px;
        }
    }
    &__right-row-bottom {
        position: relative;
        padding: 0px 0px 131% 0px;
        margin-right: -25px;
        @media (max-width: $mobileSmall) {
            margin-right: 0px;
        }
    }
}

/*=============================================================Chairs*/

.chairs {
    background: $BackgroundDarkest;

    &__container {
        padding-top: 79px;
        padding-bottom: 30px;
        @media (max-width: $mobile) {
            padding-top: 20px;
        }
    }

    &__body {
        display: flex;
        margin: 0 -24.5px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        padding: 0 24.5px;
        display: flex;
        // flex: 0 1 33.333%;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        img {
            position: relative;
            margin-right: 36px;
            min-width: 98px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 98px;
                height: 98px;
                background: rgba(53, 115, 110, 0.3);
            }
        }
    }

    &__content {
        order: 2;

        dt {
            @include titleAndLogo($fw700);
            line-height: 22px;
            margin-bottom: 11px;
        }
        dd {
            line-height: 22px;
            margin-bottom: 11px;
            max-width: 211px;
        }
        a {
            color: rgb(106, 106, 106);
            font-size: 12px;
            font-weight: $fw700;
        }
    }
}

/*                                     testimonials*/

.visual-hidden {
    display: none;
}

.swiper {
}

.swiper-wrapper {
    display: flex;
}
.swiper-slide {
}

.swiper-button-prev {
}

.testimonials {
    background: $BackgroundDarkest;

    &__container {
        padding-top: 30px;
        padding-bottom: 30px;
        @media (max-width: $mobile) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &__title {
        margin-bottom: 47px;
        text-align: center;
        line-height: 41px;
        @media (max-width: $mobile) {
            margin-bottom: 11px;
        }
    }
}
.title {
}
.swiper {
    // height: 550px;
}
.swiper-wrapper {
}
.swiper-slide {
    display: flex;
    justify-content: center;
    blockquote {
        max-width: 760px;
        display: flex;
        @media (max-width: $tablet) {
            max-width: 560px;
        }
        flex-direction: column;
        div {
            text-align: center;
            order: 2;
            cite {
                display: block;
                @include titleAndLogo($fz18);
                margin-bottom: 6px;
                line-height: 22px;
            }
            img {
                border-radius: 50%;
                margin-bottom: 10px;
            }
            p {
                line-height: 32px;
                @include titleAndLogo($fz13, $colorDark);
            }
        }
        p {
            order: 1;
            line-height: 32px;
            @include titleAndLogo($fz18, $colorDarkest);
            margin-bottom: 42px;
            @media (max-width: $mobile) {
                @include titleAndLogo($fz16, $colorDarkest);
                margin-bottom: 23px;
            }
        }
    }
}
.swiper-pagination {
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
}

.swiper-pagination-bullet-active {
    background: rgb(56, 93, 80);
    width: 7px;
    height: 7px;
}
.swiper-button-prev {
    top: 20%;
    height: 58px;
    color: $colorDark;
    width: 58px;
    border-radius: 50%;
    background: rgb(196, 196, 196, 0.1);
    transition: all 0.3s ease 0s;
    @media (max-width: $mobile) {
        display: none;
    }
    &::after {
        z-index: 2;
        font-size: 14px;
    }
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: $BackgroundGreen;
    transition: all 0.3s ease 0s;
    color: $BackgroundWhite;
}

.swiper-button-next {
    transition: all 0.3s ease 0s;
    top: 20%;
    color: $colorDark;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    @media (max-width: $mobile) {
        display: none;
    }
    background: rgb(196, 196, 196, 0.1);
    &::after {
        z-index: 2;
        font-size: 14px;
    }
}

/*                              recent blog*/

.blog {
    background: $BackgroundDarkest;

    &__container {
        padding-top: 30px;
        padding-bottom: 159px;
        @media (max-width: $mobile) {
            padding-bottom: 30px;
        }
    }

    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        a {
            @include titleAndLogo($fz16);
            text-decoration: underline;
        }
        margin-bottom: 36px;
        @media (max-width: $mobileSmall) {
            margin-bottom: 16px;
        }
    }

    &__title {
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: $mobileSmall) {
            gap: 10px;
        }
    }
    &__article {
        display: flex;
        flex-direction: column;
        // padding: 0 15px;
        width: 360px;

        img {
            height: 249px;
            order: 1;
            width: 100%;
            margin-bottom: 44px;
            border-radius: 12px;
            @media (max-width: $tablet) {
                margin-bottom: 14px;
            }
            @media (max-width: $mobileSmall) {
                margin-bottom: 5px;
            }
        }
        h3 {
            order: 2;
            line-height: 22px;
            margin-bottom: 5px;
            @include titleAndLogo($fz18, $fw600, $colorDark);
        }
        p {
            order: 3;
            cite {
                @include titleAndLogo($colorDark);
            }
            time {
                @include titleAndLogo($colorDark);
            }
        }
    }

    &__article-title {
    }
}

/*                                         subscribe*/

.subscribe {
    &__container {
        display: flex;
        align-items: center;
        // gap: 78px;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__content {
        flex: 0 0 60%;
        padding-right: 20px;
        padding-top: 20px;
        @media (max-width: $mobile) {
            padding-right: 0px;
            width: 100%;
        }
        p {
            @include titleAndLogo($fz18, $fw600, $colorDark);
            line-height: 22px;
            margin-bottom: 23px;
            background: url("assets/img/subs/email.svg") 0 0 no-repeat;
            padding-left: 34px;
        }
    }

    &__form {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        @media (max-width: $mobile) {
            div {
                width: 100%;
            }
        }
    }

    &__input {
        padding: 12px 17px 22px;
        border: 1px solid rgb(196, 196, 196);
        border-radius: 10px;
        width: 262px;
        @media (max-width: $mobile) {
            width: 100%;
        }
        &:focus {
            box-shadow: 3px 4px 13px 5px rgb(59, 93, 80, 0.4);
            outline: 1px solid $BackgroundGreen;
        }
    }

    &__button {
        background-color: $BackgroundGreen;
        width: 47px;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
        transition: all 0.3s ease 0s;
        @media (max-width: $mobile) {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        &:hover {
            background-color: $BackgroundYellow;
            transition: all 0.3s ease 0s;
        }
    }

    &__image {
        flex: 0 1 40%;
        // height: 400px;
        margin-top: -90px;
        @media (max-width: $mobile) {
            margin-top: 0px;
        }
        img {
            width: 100%;
            // height: 400px;
        }
    }
}

.visible-hidden {
    display: none;
}

/*                                 furni*/

.furni {
    &__container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__title {
        margin-bottom: 17px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 43px;
        @media (max-width: $mobile) {
            flex-direction: column;
            margin-bottom: 23px;
        }
    }

    &__text {
        // width: 360px;
        flex: 0 1 360px;

        @media (max-width: $tablet) {
            margin-right: 25px;
            flex: 0 1 260px;
        }
        @media (max-width: $mobile) {
            flex: 1 1 auto;
            margin-bottom: 20px;
        }
    }

    &__items {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        gap: 56px;
        @media (max-width: $tablet) {
            gap: 20px;
        }
    }

    &__item {
        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            a {
                color: inherit;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__icons {
        display: flex;
        gap: 11px;
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        background: rgb(217, 217, 217);
    }
}
.title-black {
}
.bi {
    color: $colorDark;
    transition: all 0.3s ease 0s;
    &:hover {
        color: $BackgroundGreen;
        transition: all 0.3s ease 0s;
    }
}
.bi-facebook {
}
.bi-instagram {
}
.bi-twitter {
}
.bi-linkedin {
}

/*                       footer*/
.footer {
    padding-top: 36px;
    padding-bottom: 93px;
    @media (max-width: $mobile) {
        padding-top: 26px;
        padding-bottom: 23px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__copy {
        margin-right: 10px;
        @media (max-width: $mobile) {
            margin-right: 0px;
        }
    }

    &__other {
        display: flex;
        gap: 42px;
        a {
            color: inherit;
        }
        a:hover {
            text-decoration: underline;
        }

        @media (max-width: $mobile) {
            flex-direction: column;
            gap: 20px;
        }
    }
}
